# backend/requirements.txt

fastapi[standard]
uvicorn
sqlalchemy
psycopg2-binary==2.9.10
celery
pydantic
pydantic-settings
redis
authlib
python-jose[cryptography]
passlib[bcrypt]
alembic
httpx
python-multipart
itsdangerous
python-dotenv
requests
proxmoxer